{
    "size": 0,
    "query": {
      "term": {
        "user": "{{user}}"
       }
    },
    "aggs": {
      "queries": {
        "terms": {
          "field": "query.raw",
          "size": "{{^size}}10{{/size}}{{size}}"
        }
      },
      "documents": {
        "terms": {
          "field": "document",
          "size": "{{^size}}10{{/size}}{{size}}"
        }
      }
    }
}
